@font-face {
    font-family: Gruppo;
    src: url(./assets/fonts/Gruppo-Regular.ttf);
}

@font-face {
    font-family: Gugi;
    src: url(./assets/fonts/Gugi-Regular.ttf);
}

@font-face {
    font-family: NovaSquare;
    src: url(./assets/fonts/NovaSquare-Regular.ttf);
}

@font-face {
    font-family: Oxanium;
    src: url(./assets/fonts/Oxanium-VariableFont_wght.ttf);
}

html {
    scroll-behavior: smooth; 
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0 20px;
    font: 22px 'Oxanium', sans-serif;
    font-weight: 400;
    color: goldenrod;
    background-color: black;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    height: 60px;
    margin: 0 auto;
    font: 24px 'Gugi', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 2px solid goldenrod;
}

a {
    color: goldenrod;
    text-decoration: none;
}

.nav {
    width: 100%;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.menu-item {
    list-style: none;
}

.container-main {
    max-width: 1440px;
    margin: 0 auto;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding-top: 20px;
}

h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
}

h2 {
    margin: 0;
    font: 24px 'Gugi', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 2px solid goldenrod;
}

.block-name {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    font: 24px 'Gugi', sans-serif;
    font-weight: 400;
    border: 2px solid goldenrod;
    border-radius: 20px 0 20px 0;
}

.block-char {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.block-info {
    display: flex;
    gap: 20px;
    height: 250px;
}

.avatar {
    width: 250px;
    height: 250px;
    border: 2px solid goldenrod;
    border-radius: 20px 0 20px 0;
}

.block-stats {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    min-width: 250px;
    padding: 20px;
    border: 2px solid goldenrod;
    border-radius: 20px 0 20px 0;
}

.stats {
    display: flex;
    gap: 20px;
}

.list-stats {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.block-skills {
    padding: 20px;
    border: 2px solid goldenrod;
    border-radius: 20px 0 20px 0;
}

.list-skills {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 20px;
    padding-top: 20px;
}

.box-skill {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.icon {
    width: 130px;
    height: 130px;
    padding: 20px;
    border: 2px solid goldenrod;
    border-radius: 20px 0 20px 0;
}

.block-exp {
    padding: 20px;
    border: 2px solid goldenrod;
    border-radius: 20px 0 20px 0;
}

.list-exp {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.box-exp {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.block-projects {
    padding: 20px;
    border: 2px solid goldenrod;
    border-radius: 20px 0 20px 0;
}

.block-edu {
    padding: 20px;
    border: 2px solid goldenrod;
    border-radius: 20px 0 20px 0;
}

.list-edu {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.box-edu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 0;
}